body {
  background-color: #e0e0e0;
  margin: 0;
  font-family: sans-serif;
  display: flex;           
  flex-direction: column;    
  align-items: center;       
  justify-content: center;   
  min-height: 100vh;        
} 

.container { 
}

.widget {
  background: linear-gradient(to right, #fafafa 65%, #e0e0e0 45%); 
  padding: 400px;      
  width: 500px; 
  height: 20px;     
  border-radius: 50px;      
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
  text-align: center;        
}
.data1{
  color: grey;
}

input[type="text"] { 
  position: absolute;
  top: 120px;
  right: 680px;
  width: 25%;        
  padding: 10px;       
  border: 2px solid #ccc;  
  border-radius: 5px; 
  font-size: 16px;   
  background-color: white;  
  color: black;
}
input[type="text"]:focus {
  outline: none;     
  border-color: grey; 
  box-shadow: 0 0 5px rgb(235, 229, 229); 
}

input[type="text"]::placeholder { 
  color: black;
} 
.temp{
  position: absolute;
  top: 70px;
  right: 950px;
  font-size: 200px;
}
.weather-description{
  position: absolute;
  top: 500px;
  font-size: 45px;
  right: 960px;
}
.city{
  position: absolute;
  top: 150px;
  font-size: 20px;
  right: 70%;
  color: black;
}
.temp2{
  position: absolute;
  top: 250px;
  right: 400px;
  font-size: 50px;
}
.weather-description2{
  position: absolute;
  top: 380px;
  right: 375px;
  font-size: 30px;
}
.hourly-forecast{
  position: absolute;
  top: 480px;
  right: 350px;
  font-size: 30px;
  color: black;
}
.pill-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 500px;
  top: 575px;
  background-color: rgba(250, 250, 250, 0.7); 
  border-radius: 13px; 
  padding: 10px;
  text-align: center;
  width: 68px; 
  margin: 5px;
  height: 120px;
  border: 3px solid lightgrey; 
}
.pill-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 390px;
  top: 575px;
  background-color: rgba(250, 250, 250, 0.7); 
  border-radius: 13px; 
  padding: 10px;
  text-align: center;
  width: 68px; 
  margin: 5px;
  height: 120px;
  border: 3px solid lightgrey; 
}
.pill-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 280px;
  top: 575px;
  background-color: rgba(250, 250, 250, 0.7); 
  border-radius: 13px; 
  padding: 10px;
  text-align: center;
  width: 68px; 
  margin: 5px;
  height: 120px;
  border: 3px solid lightgrey; 
}
.pill-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 500px;
  top: 740px;
  background-color: rgba(250, 250, 250, 0.7); 
  border-radius: 13px; 
  padding: 10px;
  text-align: center;
  width: 68px; 
  margin: 5px;
  height: 120px;
  border: 3px solid lightgrey; 
}
.pill-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 390px;
  top: 740px;
  background-color: rgba(250, 250, 250, 0.7); 
  border-radius: 13px; 
  padding: 10px;
  text-align: center;
  width: 68px; 
  margin: 5px;
  height: 120px;
  border: 3px solid lightgrey; 
}
.pill-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 280px;
  top: 740px;
  border-radius: 13px; 
  padding: 10px;
  text-align: center;
  width: 68px; 
  margin: 5px;
  background-color: rgba(250, 250, 250, 0.7); 
  height: 120px;
  border: 3px solid lightgrey; 
}
.greeting {
  font-size: 40px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 130px;
  right: 310px;
}
.date{
  position: absolute;
  font-weight: bold;
  top: 175px;
  font-size: 30px;
  right: 40%;
  color: black;
}
.time {
  position: absolute;
  font-weight: bold;
  top: 220px;
  font-size: 40px;
  right: 21%;
  color: black;
}
